{
    "presets": ['es2015', 'stage-2', 'react'],
    "plugins": ['transform-class-properties', 'add-module-exports', 'transform-runtime'],
    "env": {
        "test": {
          "plugins": [ "istanbul" ]
        },
        "production": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [ ".less" ]
                    }
                ]
            ]
        }
    }
}