{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"],
    "env": {
        "test": {
          "plugins": [ "istanbul" ]
        },
        "production": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [ ".less" ]
                    }
                ]
            ]
        }
    }
}