{
    "extends": [
        "alloy",
        "alloy/react",
        "alloy/typescript"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
    },
    "globals": {
        "it": true,
        "describe": true
    }
}
